{% extends 'bobo/base.html' %}
{% load static %}
{% block content %}




{% if request.GET.search %}
    <h2 class="mt-4">Wynik Wyszukiwania: "{{ request.GET.search}}"</h2>
{% else %}
    <h1 class="mt-4">Najlepsze Okazje dla Rodziców</h1>
{% endif %}

<hr>
{% for promo in promotions %}

<div class="card mb-3" style="max-width: 720px;">
  <div class="row g-0">
    <div class="col-md-4">
        <a href="{% url 'okazja' promo.id %}">
      <img src="{{ MEDIA_URL }}{{promo.image}}" class="img-fluid rounded-start" alt="...">
        </a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
            <a href="{% url 'okazja' promo.id %}" class="link-dark">{{ promo.title }}</a> </h5>
        <p> <span class="text-warning h4"><strong>{{ promo.price }}zł</strong></span> <s>{{ promo.old_price }}zł</s>
            {% if promo.price and promo.old_price %}<mark>-{{ promo.discount }}%</mark>{% endif %}</p>
        <p class="card-text">- This is a wider card with supporting
            text below as a natural
            lead-in to additional content. This content is a little bit longer.
            {{  promo.description|truncatechars:"200" }}
            {% if promo.description|length > 200 %}
                <a href="{% url 'okazja' promo.id %}" class="link-dark"><b>Czytaj dalej</b></a>
            {% endif %}
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>


{% endfor %}

{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a class="btn btn-outline-warning mb-4" href="?page=1">Pierwsza</a>
        <a class="btn btn-outline-warning mb-4" href="?page={{ page_obj.previous_page_number }}">Poprzednia</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

       {% if page_obj.has_next %}
        <a class="btn btn-outline-warning mb-4" href="?page={{ page_obj.next_page_number }}">Następna</a>
        <a class="btn btn-outline-warning mb-4" href="?page={{ page_obj.paginator.num_pages }}">Ostatnia</a>
    {% endif %}
{% endif %}

{% endblock %}